@media only screen and (max-width: 1400px) {
  .our-experts .brdr {
    border-radius: 15px;
  }
  .we-serve .s-box strong {
    font-size: 45px;
    line-height: 49px;
  }
  .our-experts .ani-container{
    height: 650px;
  }
  .our-experts .exp-one {
    width: 131px;
    height: 133px;
  }
  .our-experts .exp-two {
    width: 144px;
    height: 146px;
  }
  .our-experts .exp-three {
    width: 127px;
    height: 128px;
  }
  .our-experts .exp-four {
    width: 153px;
    height: 177px;
  }
  .our-experts .exp-five {
    width: 138px;
    height: 173px;
  }
  .our-experts .exp-six {
    width: 96px;
    height: 118px;}
    .our-experts .exp-seven {
      width: 128px;
      height: 152px;
    }  
    .our-experts .exp-eight {
      width: 143px;
      height: 168px;
    }
    .our-experts .exp-nine {
      width: 85px;
      height: 103px;
    }
}

@media only screen and (max-width: 1200px) {
  header li {
    padding-right: 25px;
  }
  .banner h1 {
    font-size: 50px;
    max-width: 810px;
    width: 100%;
    margin: auto;
  }
  .banner {
    height: 700px;
  }
  .heading {
    font-size: 50px;
    line-height: 58px;
  }
  .subheading {
    font-size: 45px;
    line-height: 50px;
  }
  .p-top {
    padding-top: 90px;
  }
  .p-btm {
    padding-bottom: 90px;
  }
  .we-serve .custom-nav button {
    width: 50px;
    height: 50px;
  }
  .case-studies .custom-nav button {
    width: 50px;
    height: 50px;
  }
  .contact-us h2 {
    font-size: 100px;
  }
  .our-experts .ani-container {
    height: 600px;
}
.our-experts .exp-one {
  width: 111px;
  height: 113px;
}
.our-experts .exp-two {
  width: 124px;
  height: 126px;
}
.our-experts .exp-three {
  width: 107px;
  height: 108px;
}
.our-experts .exp-four {
  width: 133px;
  height: 157px;
}
.our-experts .exp-five {
  width: 118px;
  height: 153px;
}
.our-experts .exp-seven {
  width: 108px;
  height: 122px;
}
.our-experts .exp-eight {
  width: 123px;
  height: 138px;
}
@keyframes expSeven {
  0% {
    bottom: 50%;
    right: 50%;
  }
  100% {
    bottom: 10%;
    right: 62%;
    transform: none;
  }
}
.contact-us .contact-float{
  display: none;
}
}

@media only screen and (max-width: 992px) {
  header .header-wrap {
    padding: 20px 0;
  }
  .contact-us h2 {
    font-size: 60px;
  }
  header nav {
    position: absolute;
    right: calc(-100% - 70px);
    top: 60px;
    width: 200px;
    padding: 10px 15px;
    border-radius: 10px;
    transition: all 0.5s ease-in;
  }
  header.open_nav nav {
    right: 0%;
  }
  header .hamburger {
    display: block;
  }
  header li {
    display: block;
    padding: 0 0px 10px;
  }
  .banner {
    height: 600px;
  }
  .p-top {
    padding-top: 50px;
  }
  .p-btm {
    padding-bottom: 50px;
  }
  .we-serve .s-box {
    height: 250px;
  }
  .we-serve .s-box strong {
    font-size: 35px;
    line-height: 40px;
  }
  .we-serve .progress-bar-wrapper {
    max-width: 280px;
  }
  .banner h1 {
    line-height: 56px;
  }
  .why-choose-us .overall-client,
  .why-choose-us .h-client {
    margin-top: 20px;
  }
  .case-studies .slider,
  .case-studies .slider-card {
    width: 100%;
  }
  .case-studies .case-s-slider-wraper {
    padding-right: 15px;
  }
  .contact-us .form-control {
    padding: 20px 20px;
    font-size: 18px;
  }
  footer .lts-connect {
    text-align: center;
    margin-bottom: 30px;
  }
  footer .lts-connect p {
    margin: 0 auto 20px auto;
    font-size: 14px;
  }
  footer .subheading {
    margin-bottom: 10px;
  }
  footer .social {
    text-align: center;
    margin-bottom: 20px;
  }
  footer .social ul {
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
  }
  footer .copy-right {
    text-align: center;
  }
  footer .copy-right strong {
    margin-bottom: 5px;
  }
  footer .copy-right p {
    margin-bottom: 6px;
  }
  .our-experts .heading {
    margin-bottom: 10px;
}

.our-experts .ani-container {
  height: 560px;
}
.our-experts .exp-five {
  width: 108px;
  height: 123px;
}
.our-experts .exp-four {
  width: 113px;
  height: 137px;
}
.our-experts .exp-six {
  width: 96px;
  height: 108px;
}
.our-experts .exp-seven {
  width: 98px;
  height: 112px;
}
.our-experts .exp-eight {
  width: 113px;
  height: 128px;
}
.our-experts .exp-two {
  width: 114px;
  height: 116px;
}

}

@media only screen and (max-width: 768px) {
  .banner h1 {
    font-size: 40px;
    line-height: 58px;
  }
  .contact-us .submit-btn {
    height: 120px;
    margin-top: 25px;
  }
  .contact-us h2 {
    font-size: 40px;
  }
  .banner {
    height: 420px;
  }
  .banner .btn-wrap {
    margin-top: 20px;
  }
  .banner .main-container {
    padding-top: 120px;
  }
  .p-top {
    padding-top: 40px;
  }
  .p-btm {
    padding-bottom: 40px;
  }
  .we-serve .s-box {
    height: 200px;
  }
  .we-serve .s-box strong {
    font-size: 30px;
    line-height: 35px;
  }
  .heading {
    font-size: 40px;
    line-height: 48px;
  }
  .we-serve .progress-bar-wrapper {
    max-width: 180px;
  }
  .we-serve .custom-nav {
    gap: 15px;
  }
  .subheading {
    font-size: 26px;
  }
  .case-studies .subheading {
    line-height: normal;
  }
  .case-studies .custom-nav {
    gap: 15px;
  }
  .case-studies .wrap {
    gap: 0 15px;
  }
  .contact-us .submit-btn .submit::before {
    height: 110px;
    width: 110px;
  }
  .contact-us .submit-btn .submit {
    font-size: 20px;
  }
  .contact-us form {
    margin-top: 40px;
  }
  .our-experts .tx-bx p {
    max-width: 300px;
  }
  .our-experts .exp-two {
    width: 94px;
    height: 96px;
  }
  .our-experts .exp-four {
    width: 103px;
    height: 117px;
}
.our-experts .exp-three {
  width: 97px;
  height: 98px;
}
.our-experts .exp-one {
  width: 101px;
  height: 103px;
}
.our-experts .exp-nine {
  width: 75px;
  height: 83px;
}
.our-experts .brdr {
  border-radius: 10px;
}
.our-experts .exp-seven {
  width: 88px;
  height: 102px;
}
.our-experts .exp-eight {
  width: 103px;
  height: 108px;
}
@keyframes expThree {
  0% {
    top: 50%;
    right: 50%;
  }
  100% {
    top: 0%;
    right: 8%;
    transform: none;
  }
  
}

.our-experts .exp-one span {
  right: inherit;
  left: 100%;
  margin-right: 0;
  margin-left: 10px;
}
}

@media only screen and (max-width: 576px) {
  .banner h1 {
    font-size: 26px;
    line-height: 33px;
  }
  .banner small {
    font-size: 14px;
  }
  .banner .btn-wrap {
    gap: 10px;
  }
  .banner .main-container {
    padding-top: 90px;
  }
  .slide-btn span,
  .access-btn span {
    width: 40px;
    height: 40px;
    padding: 6px;
  }
  .slide-btn {
    font-size: 14px;
    min-width: 200px;
  }
  .banner {
    height: 375px;
  }
  .p-top {
    padding-top: 30px;
  }
  .p-btm {
    padding-bottom: 30px;
  }
  .we-serve .s-box strong {
    font-size: 18px;
    line-height: 23px;
  }
  .heading {
    font-size: 26px;
    line-height: 34px;
  }
  .we-serve .wrap {
    gap: 0 15px;
    margin-top: 20px;
  }
  .we-serve .custom-nav button {
    width: 40px;
    height: 40px;
  }
  .we-serve .custom-nav svg {
    width: 20px;
  }
  .banner small {
    max-width: 350px;
    margin: auto;
    width: 100%;
  }
  .subheading {
    font-size: 20px;
    font-weight: normal;
  }
  .we-serve .s-box {
    height: 150px;
  }
  header nav {
    width: 100%;
  }
  .case-studies .slider-carousel {
    padding: 15px;
    min-height: 260px;
  }
  .case-studies .slider-card .bx {
    height: 170px;
    padding: 15px;
  }
  .case-studies .content {
    margin-top: 20px;
  }
  .case-studies .content p {
    margin-bottom: 20px;
  }
  .round-btn {
    padding: 6px 30px;
    font-size: 15px;
  }
  .why-choose-us .overall-client ul {
    width: 350px;
    height: 350px;
  }
  .case-studies .subheading,
  .case-studies .case-studies-slider {
    margin-top: 10px;
  }
  .case-studies .slider h4 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .case-studies .custom-nav button {
    width: 50px;
    height: 50px;
  }
  .case-studies .wrap {
    margin-top: 20px;
  }
  .contact-us textarea.form-control {
    border-radius: 10px;
    height: 150px;
  }
  .contact-us .form-control{
    border-radius: 10px;
  }
  .contact-us .submit-btn .submit::before {
    height: 70px;
    width: 70px;
  }
  .contact-us .submit-btn .submit {
    font-size: 16px;
  }
  .contact-us .submit-btn svg {
    width: 20px;
    height: 20px;
  }
  .contact-us .submit-btn {
    height: 80px;
    border-radius: 10px;
  }
  .contact-us form {
    margin-top: 30px;
  }
  .contact-us h2 {
    font-size: 30px;
    letter-spacing: 5px;
  }
  .why-choose-us .t-btm {
    margin-top: 20px;
  }
  footer .widget h5 {
    margin-bottom: 10px;
  }
  footer .widget > div {
    margin-bottom: 10px;
  }
  footer .subheading {
    margin-bottom: 0;
  }
  footer .social h6 {
    font-size: 18px;
  }
  footer .social ul svg {
    margin-right: 0;
    width: 24px;
    display: block;
    text-align: center;
    margin: auto;
  }
  footer .social ul a {
    font-size: 12px;
  }

  footer .social ul {
    gap: 0;
    justify-content: space-between;
  }
  footer .copyRight-wrap {
    margin-top: 30px;
  }
  footer .ftr-bnr {
    padding: 25px 15px 0;
  }
  .banner .w-cloud-l,
  .banner .w-cloud-r {
    bottom: 30px;
  }
  footer .slide-btn.white-btn{
    min-width: auto;
  }


  .our-experts .exp-one {
    width: 81px;
    height: 83px;
}

.our-experts .exp-two {
  width: 74px;
  height: 76px;
}

.our-experts .exp-three {
  width: 81px;
  height: 83px;
}

.our-experts .exp-four {
  width: 83px;
  height: 97px;
}
.our-experts .exp-five {
  width: 88px;
  height: 93px;
}

.our-experts .exp-six {
  width: 66px;
  height: 78px;
}

.our-experts .exp-seven {
  width: 68px;
  height: 82px;
}

.our-experts .exp-eight {
  width: 83px;
  height: 88px;
}

.our-experts .exp-nine {
  width: 55px;
  height: 63px;
}


@keyframes expOne {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 0%;
    left: 0%;
    transform: none;
  }
}


@keyframes expThree {
  0% {
    top: 50%;
    right: 50%;
  }
  100% {
    top: 0%;
    right: 0%;
    transform: none;
  }
}
@keyframes expTwo {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 7%;
    left: 37%;
    transform: none;
  }
}

@keyframes expFour {
  0% {
    top: 50%;
    right: 50%;
  }
  100% {
    top: 19%;
    right: 2%;
    transform: none;
  }
}

@keyframes expNine {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 21%;
    left: 11%;
    transform: none;
  }
}

@keyframes expEight {
  0% {
    bottom: 50%;
    left: 50%;
  }
  100% {
    bottom: 0%;
    left: 0%;
    transform: none;
  }
}

@keyframes expSeven {
  0% {
    bottom: 50%;
    right: 50%;
  }
  100% {
    bottom: 21%;
    right: 50%;
    transform: none;
  }
}

@keyframes expSix {
  0% {
    bottom: 50%;
    right: 50%;
  }
  100% {
    bottom: 21%;
    right: 21%;
    transform: none;
  }
}

@keyframes expFive {
  0% {
    bottom: 50%;
    right: 50%;
  }
  100% {
    bottom: 0%;
    right: 0%;
    transform: none;
  }
}
.our-experts .ani-container {
  height: 470px;
}
.our-experts span{
  padding: 5px 6px;
  font-size: 8px;
  line-height: 9px;
}
.our-experts .exp-eight span {
  right: -71%;
  margin: 0;
  bottom: 10%;
}
.our-experts .exp-three span {
  right: 68%;
  margin: 0;
}
.our-experts .exp-one span {
  left: 60%;
  margin-left: 0;
}
.our-experts .exp-two span {
  right: 70%;
  margin-right: 0px;
}
.our-experts .exp-four span {
  right: 70%;
  top: 40%;}

  .our-experts .exp-nine span {
    top: 90%;
    margin-top: 0;
}
.our-experts .exp-seven span {
  left: inherit;
  bottom: 80%;
  margin-left: 0;
  right: 80%;
}
.our-experts .exp-six span {
  top: 40%;
  right: auto;
  margin-top: 0;
  left: 70%;
}
.our-experts .exp-five span {
  bottom: 70%;
  right: 70%;
  margin-bottom: 0;
}
}
