@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --grey: #f0f0f0;
  --black: #000000;
}

a {
  display: inline-block;
  text-decoration: none;
}
span {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.container-fluid {
  max-width: 1470px;
  width: 100%;
  margin: auto;
  padding: 0 15px;
}
.main-container {
  max-width: 1250px;
  width: 100%;
  margin: auto;
  padding: 0 15px;
}
.p-top {
  padding-top: 150px;
}
.p-btm {
  padding-bottom: 150px;
}
.heading {
  color: var(--black);
  font-size: 65px;
  font-weight: 600;
  line-height: 70px;
}
.subheading {
  font-size: 60px;
  font-weight: 400;
  color: var(--black);
  line-height: 70px;
}
p {
  color: #545454;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
}
/*==Slide-btn==*/
.slide-btn {
  padding: 6px 10px 6px 6px;
  border-radius: 66px;
  font-size: 16px;
  font-weight: 400;
  min-width: 242px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: all 0.4s ease-out;
}
.slide-btn span {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
/*==Slide-btn==*/
/*==Black-btn==*/
.slide-btn.black-btn {
  color: var(--white);
  background-color: var(--black);
}
.slide-btn.black-btn span {
  background-color: var(--white);
}
.slide-btn.black-btn:hover {
  color: #3e3e3e;
  background-color: var(--white);
}
.slide-btn.black-btn:hover span {
  background-color: #e9eee4;
}
/*==Black-btn==*/

/*==White-btn==*/
.slide-btn.white-btn {
  color: #3e3e3e;
  background-color: var(--white);
}

.slide-btn.white-btn:hover {
  color: var(--white);
  background-color: var(--black);
}
.slide-btn.white-btn span {
  background-color: #e9eee4;
}
.slide-btn.white-btn:hover span {
  background-color: var(--white);
}
/*==White-btn==*/

/*====Header====*/
header {
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

header .logo {
  max-width: 100px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
header .logo img {
  width: 100%;
}
header .hamburger {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: none;
  background-color: #ffffff;
  padding: 5px 5px 5px 5px;
  border-radius: 40px;
  transition: all 0.4s ease-in;
}

header.open_nav .hamburger {
  padding: 5px 5px 5px 35px;
}

header .header-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav {
  background-color: var(--white);
  padding: 20px 34px;
  border-radius: 60px;
}
header li {
  display: inline-block;
  padding-right: 45px;
}
header li:last-child {
  padding-right: 0;
}
header li a {
  font-size: 16px;
  font-weight: 300;
  color: #686868;
  transition: color 0.5s linear;
}
header li a.active,
header li a:hover {
  color: var(--black);
}
/*====Header====*/

/*====Banner====*/
.banner {
  background: #ebf0e8;
  height: 800px;
  position: relative;
  overflow: hidden;
}
.banner .cloud-banner {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.banner .cloud-rocket {
  width: 46%;
  bottom: 0;
  position: absolute;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  animation: growShrinkMove 6s ease-in-out forwards;
}

/* @keyframes growShrinkMove {
  0% {
    width: 46%;
    bottom: -50%;
    transform: translateX(-50%) scale(1);
  }
  50% {
    width: 400%;
    bottom: 0;
    transform: translateX(-50%) scale(1);
  }
  100% {
    width: 46%;
    bottom: 0;
    transform: translateX(-50%) scale(1);
  }
} */

.banner .p-cloud-l {
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 59%;
  z-index: 1;
  animation: bounce 3s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.banner .p-cloud-r {
  position: absolute;
  right: 0;
  bottom: -14px;
  width: 38%;
  z-index: 1;
  animation: bounce 3s ease-in-out infinite;
}
.banner .round-clod {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 53%;
  z-index: 0;
}

.banner .w-cloud-l {
  position: absolute;
  left: 0;
  bottom: 70px;
  width: 38%;
  z-index: 0;
  animation: bounce 4s ease-in-out infinite;
}

.banner .w-cloud-r {
  position: absolute;
  right: 0;
  bottom: 70px;
  width: 38%;
  z-index: 0;
  animation: bounce 5s ease-in-out infinite;
}

.banner .b-cloud {
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  z-index: 2;
  animation: bounce 5s ease-in-out infinite;
}

.banner .main-container {
  position: relative;
  padding-top: 200px;
  z-index: 10;
}
.banner .text-container {
  text-align: center;
  max-width: 1050px;
  width: 100%;
  margin: auto;
}
.banner small {
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  display: block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 400;
  line-height: 90px;
  color: var(--black);
}
.banner .btn-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 70px;
}
/*====Banner====*/

/*====Why-choose-us====*/
.why-choose-us .t-btm {
  width: 300px;
  height: 130px;
  margin-top: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 22px;
  margin-left: auto;
}
.why-choose-us .t-btm img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.why-choose-us .t-btm span {
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  padding: 20px;
  max-width: 180px;
  text-align: right;
  width: 100%;
}
.why-choose-us .h-client {
  position: relative;
  height: 320px;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 32px;
}
.why-choose-us .h-client img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.why-choose-us .h-client span {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
  font-weight: 600;
  line-height: 25px;
  color: var(--white);
  display: inline-block;
  padding: 30px;
}
.why-choose-us .ap-bx {
  display: flex;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  height: 260px;
  margin-top: 22px;
  justify-content: flex-start;
  align-items: end;
  padding: 40px;
}
.why-choose-us .ap-bx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.why-choose-us .ap-bx .content {
  max-width: 310px;
  width: 100%;
}
.why-choose-us .ap-bx p {
  margin-bottom: 25px;
}
.why-choose-us .ap-bx h5 {
  font-size: 25px;
  line-height: 40px;
  font-weight: 400;
  color: var(--black);
}
.why-choose-us .overall-client {
  background-color: #f5f5f5;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  height: 261px;
  width: 100%;
  margin-top: 32px;
  padding: 30px;
  margin-bottom: 20px;
}
.why-choose-us .counter strong {
  font-size: 45px;
  font-weight: 500;
  color: var(--black);
  display: block;
}
.why-choose-us .counter {
  position: relative;
}
.why-choose-us .animate-position {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(39%, 43%);
}
.why-choose-us .counter small {
  display: block;
  font-size: 20px;
  font-weight: 300;
  color: var(--black);
  width: 100px;
}
.why-choose-us .overall-client ul {
  display: flex;
  justify-content: center;
  width: 400px;
  position: relative;
  height: 400px;
}
.why-choose-us ul li {
  border: 1px solid #ececec;
  border-radius: 50%;
  position: absolute;
}
.why-choose-us li:first-child {
  height: 100%;
  width: 100%;
}
.why-choose-us .animation-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 70px;
  top: 0;
  left: 0;
}
.why-choose-us li:first-child .animation-wrapper {
  animation: moveAround 15s linear infinite;
}

.why-choose-us li:nth-child(2) .animation-wrapper {
  animation: moveAround 10s linear infinite;
}

.why-choose-us li:nth-child(3) .animation-wrapper {
  animation: moveAround 25s linear infinite;
}

.why-choose-us li:nth-child(4) .animation-wrapper {
  animation: moveAround 35s linear infinite;
}

@keyframes moveAround {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.why-choose-us li:nth-child(1) .ani-image {
  animation: moveAround 15s linear infinite reverse;
}

.why-choose-us li:nth-child(2) .ani-image {
  animation: moveAround 10s linear infinite reverse;
}

.why-choose-us li:nth-child(3) .ani-image {
  animation: moveAround 25s linear infinite reverse;
}

.why-choose-us li:nth-child(4) .ani-image {
  animation: moveAround 35s linear infinite reverse;
}

@keyframes moveAround {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.why-choose-us .overall-client li:nth-child(2) {
  height: 70%;
  width: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.why-choose-us .overall-client li:nth-child(3) {
  height: 50%;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.why-choose-us .overall-client li:nth-child(4) {
  height: 30%;
  width: 30%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.why-choose-us .overall-client li:nth-child(1) .ani-dt-one {
  top: 25%;
  left: 93%;
}

/*=========Multi-use=========*/
.why-choose-us .ani-image img {
  width: 100%;
  height: 100%;
}

.why-choose-us .ani-dot {
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #aeaeae;
}
.why-choose-us .ani-image {
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  z-index: 2;
  transition: all 0.3s;
  background-color: transparent;
  border-radius: 100%;
}
/*=========Multi-use=========*/

/*===Ani-one===*/

.why-choose-us li:nth-child(1) .ani-image-one {
  right: -6%;
  top: 52%;
  position: absolute;
  height: 50px;
  width: 50px;
}

.why-choose-us li:nth-child(1) .ani-dt-two {
  top: 86%;
  right: 15%;
}

.why-choose-us li:nth-child(1) .ani-image-two {
  height: 30px;
  width: 30px;
  right: 46%;
  bottom: -4%;
}

.why-choose-us li:nth-child(1) .ani-dt-three {
  top: 86%;
  left: 15%;
}

.why-choose-us li:nth-child(1) .ani-dt-four {
  top: 13%;
  left: 15%;
}

.why-choose-us li:nth-child(1) .ani-image-three {
  left: -7%;
  top: 39%;
  height: 50px;
  width: 50px;
}

.why-choose-us li:nth-child(1) .ani-image-four {
  left: 54%;
  top: -3%;
  height: 30px;
  width: 30px;
}

/*===Ani-one===*/

/*===Ani-two===*/

.why-choose-us li:nth-child(2) .ani-dt-one {
  top: 64%;
  left: 97%;
}

.why-choose-us li:nth-child(2) .ani-image-two {
  height: 30px;
  width: 30px;
  right: 70%;
  bottom: 2%;
}

.why-choose-us li:nth-child(2) .ani-dt-two {
  top: 31%;
  left: 2%;
}

.why-choose-us li:nth-child(2) .ani-image-three {
  height: 30px;
  width: 30px;
  right: 27%;
  top: -2%;
}

/*===Ani-two===*/
.why-choose-us li:nth-child(3) .ani-dt-one {
  top: 32%;
  left: 96%;
}

.why-choose-us li:nth-child(3) .ani-image-two {
  height: 30px;
  width: 30px;
  right: 28%;
  bottom: -5%;
}

.why-choose-us li:nth-child(3) .ani-dt-two {
  top: 53%;
  left: -2%;
}

.why-choose-us li:nth-child(3) .ani-image-three {
  height: 30px;
  width: 30px;
  right: 58%;
  top: -7%;
}

/*===Ani-three===*/

/*===Ani-four===*/
.why-choose-us li:nth-child(4) .ani-dt-one {
  top: 44%;
  left: 98%;
}

.why-choose-us li:nth-child(4) .ani-image-two {
  height: 30px;
  width: 30px;
  left: -11%;
  top: 38%;
}
.why-choose-us .overall-client li:nth-child(4) .animation-wrapper {
  padding: 0;
}
/*===Ani-four===*/

.why-choose-us .apd {
  height: 321px;
  border-radius: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.why-choose-us .apd span {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 22px;
  font-weight: 500;
  line-height: 25px;
  color: var(--black);
  display: inline-block;
  padding: 20px;
}
.why-choose-us .apd img,
.why-choose-us .p-dne img,
.why-choose-us .p-dne img {
  width: 100%;
  height: 100%;
}
.why-choose-us .p-dne {
  height: 196px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.why-choose-us .p-dne img {
  width: 100%;
  height: 100%;
}
.why-choose-us .p-dne > div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 15px;
}
.why-choose-us .p-dne strong {
  display: block;
  font-size: 30px;
  color: var(--white);
  font-weight: 700;
}
.why-choose-us .p-dne span {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
}
/*====Why-choose-us====*/

/*====We-serve====*/
.subheading {
  color: var(--black);
  font-size: 65px;
  font-weight: 400;
  line-height: 70px;
}
.we-serve p {
  max-width: 461px;
  width: 100%;
}
.we-serve .subheading {
  max-width: 390px;
  width: 100%;
}
.we-serve .slider-wraper {
  padding-left: 15px;
}
.we-serve .serve-slider {
  margin-top: 50px;
  padding-left: calc((100vw - 1260px) / 2);
}
.we-serve .s-box {
  height: 376px;
  position: relative;
  border-radius: 35px;
  overflow: hidden;
}
.we-serve .bx-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  border-radius: 25px;
  box-shadow: -25.13px 25.13px 25.13px 0px #ffffff25 inset,
    25.13px -25.13px 25.13px 0px #a0a0a025 inset;
  backdrop-filter: blur(26px);
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: center;
}
.we-serve .s-box img {
  width: 100%;
  height: 100%;
}
.we-serve {
  overflow-x: hidden;
}
.we-serve .s-box strong {
  text-align: center;
  font-size: 65px;
  color: var(--white);
  font-weight: 400;
  line-height: 70px;
}
.we-serve .custom-nav {
  display: flex;
  align-items: center;
  gap: 30px;
}
.we-serve .wrap {
  display: flex;
  align-items: center;
  gap: 0 40px;
  margin-top: 40px;
}

.we-serve .custom-nav button {
  color: #fff;
  border: none;
  cursor: pointer;
  background: #e9efe4;
  width: 73px;
  height: 73px;
  border-radius: 100%;
}

.we-serve .progress-bar-wrapper {
  max-width: 421px;
  height: 8px;
  width: 100%;
  background-color: #ebebeb;
  border-radius: 34px;
}

.we-serve .c-progress-bar {
  width: 0;
  height: 100%;
  background-color: #555555;
  border-radius: 34px;
}

/*====We-serve====*/

/*====case-studies====*/
.access-btn {
  padding: 6px 30px 6px 6px;
  border-radius: 66px;
  font-size: 16px;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: all 0.4s ease-out;
  background-color: #f0f0f0;
  color: #3e3e3e;
}

.access-btn span {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--white);
}
.case-studies .subheading {
  max-width: 566px;
  width: 100%;
}
.access-btn:hover {
  color: var(--white);
  background-color: var(--black);
}

.case-studies .slider-carousel {
  border-radius: 30px;
  padding: 30px;
  min-height: 386px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
}
.case-studies .slider-carousel img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.case-studies .case-s-slider-wraper {
  padding-left: 15px;
}
.case-studies .case-studies-slider {
  margin-top: 50px;
  padding-left: calc((100vw - 1260px) / 2);
  display: flex;
  align-items: flex-start;
  gap: 20px;
  overflow-x: hidden;
  justify-content: space-between;
  flex-wrap: wrap;
}
.case-studies .slider h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  max-width: 375px;
  width: 100%;
  margin-bottom: 25px;
  color: var(--black);
}

.case-studies .slider p {
  max-width: 290px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}
.round-btn {
  border: 1px solid #000000;
  color: var(--black);
  padding: 15px 45px;
  font-size: 22px;
  font-weight: 400;
  border-radius: 50px;
  transition: all 0.5s ease-in;
}
.round-btn:hover {
  background-color: var(--black);
  color: var(--white);
}
.case-studies .slider {
  width: calc(50% - 20px);
}
.case-studies .slider-card {
  width: 50%;
}

.case-studies .wrap {
  display: flex;
  align-items: center;
  gap: 0 40px;
  margin-top: 40px;
}
.case-studies .custom-nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.case-studies .custom-nav button {
  color: #fff;
  border: none;
  cursor: pointer;
  background: #e9efe4;
  width: 73px;
  height: 73px;
  border-radius: 100%;
}

.case-studies .progress-bar-wrapper {
  max-width: 250px;
  height: 8px;
  width: 100%;
  background-color: #ebebeb;
  border-radius: 34px;
}
.case-studies .c-progress-bar {
  width: 0;
  height: 100%;
  background-color: #555555;
  border-radius: 34px;
}
.case-studies .slider-card .bx {
  width: 100%;
  height: 203px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  padding: 20px;
}

.case-studies .slider-card .bx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.case-studies .slider-card .bx > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
}
.case-studies .slider-card .bx p {
  color: var(--black);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
}

.case-studies .slider-card .bx a {
  width: 50px;
  height: 50px;
  background-color: var(--white);
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  transition: all 0.3s linear;
}
.case-studies .slider-card .bx a:hover {
  width: 70px;
}
.case-studies .content {
  margin-top: 40px;
}
.case-studies .content p {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  max-width: 461px;
  width: 100%;
  margin-bottom: 25px;
}
.case-studies .content a {
  color: var(--black);
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}
.case-studies .content a::after {
  content: "";
  width: 133px;
  height: 2px;
  position: absolute;
  bottom: 0;
  background-color: var(--black);
}
/*====case-studies====*/

/*====Contact-us====*/
.contact-us h2 {
  text-align: center;
  font-size: 140px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 10px;
}
.contact-us .form-control {
  background-color: #f3f3f3;
  border-radius: 100px;
  padding: 30px 30px;
  border: none;
  outline: 0;
  box-shadow: none;
  font-size: 22px;
  font-weight: 400;
  color: #4e4e4e;
}
.contact-us textarea.form-control {
  resize: none;
  border-radius: 50px;
  height: 250px;
}
.contact-us .submit-btn {
  height: 100%;
  background-color: #ff6868;
  border-radius: 30px;
}
.contact-us .submit-btn .submit {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 25px;
  font-weight: 500;
  color: var(--white);
  position: relative;
  z-index: 1;
}
.contact-us .submit-btn .submit::before {
  content: "";
  width: 170px;
  height: 170px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.8;
  background: radial-gradient(
    circle,
    rgb(255 255 255 / 43%) 0%,
    rgb(255 255 255 / 13%) 35%,
    rgb(255 255 255 / 0%) 100%
  );
}
.contact-us form {
  margin-top: 80px;
}
/*====Contact-us====*/

/*====Footer====*/
footer .slide-btn.white-btn {
  background-color: #f0f0f0;
  min-width: 200px;
  text-transform: uppercase;
}
footer .slide-btn.white-btn span {
  background-color: #3e3e3e;
}
footer .slide-btn.white-btn:hover path {
  fill: #3e3e3e;
}
footer .slide-btn.white-btn span svg {
  transition: transform 0.4s ease;
}
footer .slide-btn.white-btn:hover span svg {
  transform: rotate(45deg);
}
footer .subheading {
  margin-bottom: 30px;
}
footer .lts-connect p {
  max-width: 404px;
  font-size: 18px;
  width: 100%;
  color: var(--black);
  margin-bottom: 40px;
  line-height: 1.5;
  text-transform: uppercase;
}
footer .widget h5 {
  color: var(--black);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
footer .widget ul li a {
  color: #2e2e2e;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.5s ease-in;
}
footer .widget ul li a:hover {
  color: #ff4d62;
}
footer .widget ul li {
  margin-bottom: 10px;
}
footer .widget ul li:last-child {
  margin-bottom: 0;
}
footer .widget strong {
  display: block;
  color: var(--black);
  font-size: 14px;
  font-weight: 600;
}
footer .widget small {
  display: block;
  color: #2b2b2b;
  font-size: 12px;
  font-weight: 400;
}
footer .widget > div {
  margin-bottom: 15px;
}
footer .widget > div:last-child {
  margin-bottom: 0;
}
footer .social ul {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}
footer .social ul a {
  color: #5b5b5b;
  font-size: 14px;
  font-weight: 300;
}
footer .social ul svg {
  margin-right: 10px;
}
footer .social span {
  font-size: 16px;
  font-weight: 300;
  color: var(--black);
  line-height: 1.5;
  display: block;
  margin-bottom: 10px;
}
footer .social h6 {
  font-size: 30px;
  font-weight: 400;
  color: var(--black);
}
footer .copy-right strong {
  font-size: 16px;
  font-weight: 500;
  color: var(--black);
  margin-bottom: 18px;
  display: block;
}
footer .copy-right p {
  color: #696666;
  font-size: 14px;
  margin-bottom: 25px;
}
footer .copy-right span {
  color: #626262;
  font-size: 12px;
  font-weight: 300;
  display: block;
}
footer .copyRight-wrap {
  margin-top: 70px;
  margin-bottom: 30px;
}
footer .ftr-bnr {
  background-color: #ff6c6c;
  padding: 50px 40px 0;
}
footer .ftr-bnr img {
  width: 100%;
  height: auto;
}
/*====Footer====*/

/*====Footer====*/
.our-experts .tx-bx {
  text-align: center;
}
.our-experts .tx-bx p {
  max-width: 416px;
  width: 100%;
  margin: auto;
}
.our-experts .heading {
  margin-bottom: 30px;
}
.our-experts .ani-container {
  height: 800px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-experts .round-container {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* @keyframes roundcontainerRotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    width: 600px;
    height: 600px;
    border-radius: 100%;
  }
  25% {
    transform: translate(-50%, -50%) rotate(90deg);

  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg);

  }
  75% {
    transform: translate(-50%, -50%) rotate(270deg);
    width: 600px;
    height: 600px;
    border-radius: 100%;
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
} */

.our-experts .exp-one {
  width: 171px;
  height: 173px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: expOne 2s linear 1s forwards;
}

@keyframes expOne {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 0%;
    left: 20%;
    transform: none;
  }
}

.our-experts .exp-two {
  width: 184px;
  height: 186px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: expTwo 2s linear 1s forwards;
}
@keyframes expTwo {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 10%;
    left: 52%;
    transform: none;
  }
}

.our-experts .exp-three {
  width: 167px;
  height: 168px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: expThree 2s linear 1s forwards;
}
@keyframes expThree {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 0%;
    left: 72%;
    transform: none;
  }
}

.our-experts .exp-four {
  width: 193px;
  height: 217px;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  animation: expFour 2s linear 1s forwards;
}

@keyframes expFour {
  0% {
    top: 50%;
    right: 50%;
  }
  100% {
    top: 32%;
    right: 0%;
    transform: none;
  }
}

.our-experts .exp-five {
  width: 178px;
  height: 213px;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  animation: expFive 2s linear 1s forwards;
}

@keyframes expFive {
  0% {
    bottom: 50%;
    right: 50%;
  }
  100% {
    bottom: 0%;
    right: 0%;

    transform: none;
  }
}

.our-experts .exp-six {
  width: 136px;
  height: 158px;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  animation: expSix 2s linear 1s forwards;
}

@keyframes expSix {
  0% {
    bottom: 50%;
    right: 50%;
  }
  100% {
    bottom: 12%;
    right: 30%;

    transform: none;
  }
}

.our-experts .exp-seven {
  width: 168px;
  height: 192px;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  animation: expSeven 2s linear 1s forwards;
}

@keyframes expSeven {
  0% {
    bottom: 50%;
    right: 50%;
  }
  100% {
    bottom: 10%;
    right: 71%;
    transform: none;
  }
}

.our-experts .exp-eight {
  width: 183px;
  height: 208px;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  animation: expEight 2s linear 1s forwards;
}

@keyframes expEight {
  0% {
    bottom: 50%;
    left: 50%;
  }
  100% {
    bottom: 5%;
    left: 0%;
    transform: none;
  }
}

.our-experts .exp-nine {
  width: 125px;
  height: 143px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: expNine 2s linear 1s forwards;
}

@keyframes expNine {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 27%;
    left: 6%;

    transform: none;
  }
}

.our-experts .brdr {
  border-radius: 30px;
  overflow: hidden;
  position: absolute;
}
.our-experts .brdr img {
  width: 100%;
  height: 100%;
}
